.preheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    grid-column: 1 / 3;
}

.preheader__image {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

.preheader__caption {
    color: var(--blue);
    font-size: 16px;
    line-height: 1;
}
@media screen and (max-width: 1430px) {
    .preheader__image  {
        width: 2.222222222222222vw;
        height: 2.222222222222222vw;
        margin-right: 0.4166666666666667vw;
    }
    .preheader__caption {
        font-size: 1.111111111111111vw;
    }
}
@media screen and (max-width: 767px) {
    .preheader__image  {
        width: 6vw;
        height: 6vw;
        margin-right: 0.4166666666666667vw;
    }
    .preheader__caption {
        font-size: 3.5vw;
    }
} 