.header {
    position: absolute;
    display: flex;
    width: 100vw;
    right: 0;
    left: 0;
    padding: 20px 0 0 0;
    align-items: center;
    z-index: 10;
}

@media screen and (max-width: 1430px) {
    .header  {
        padding: 1.388888888888889vw 0 0 0;
    }
}