.footer {
    display: flex;
    flex-direction: row;
    gap: 150px;
    background-color: #222730;
    padding: 130px 0 175px 0;
}
.footer__infoColumn {
    max-width: 294px;
}
.footer__logo {
    width: 170px;
    height: 48px;
    margin: 0 0 35px 0;
}
.footer__infoText {
    margin: 0;
    color: #999;
    font-size: 15px;
    line-height: 1.66667;
}

.footer__links {
    display: flex;
    flex-direction: column;
    max-width: 168px;
    height: 202px;
}

.footer__linksHeader {
    color: var(--white);
    margin: 0 0 24px 0;
    font-size: 18px;
    line-height: 1.66667;
}

.footer__link {
    color: #999;
    font-size: 15px;
    line-height: 2.5;
    text-transform: capitalize;
    text-decoration: none;
}

@media screen and (max-width: 1430px) {
    .footer  {
        gap: 10.41666666666667vw;
        padding: 9.027778vw 0 12.152778vw 0;
    }
    .footer__infoColumn {
        max-width: 20.41666666666667vw;
    }
    .footer__infoText {
        font-size: 1.04vw;
    }
    .footer__logo {
        width: 11.80555555555556vw;
        height: 3.333333333333333vw;
        margin: 0 0 2.43vw 0;
    }
    .footer__links {
        max-width: 11.66666666666667vw;
        height: 14.02777777777778vw;
    }
    .footer__linksHeader {
        font-size: 1.25vw;
        margin: 0 0 1.666666666666667vw 0;
    }
    .footer__link {
        font-size: 1.041666666666667vw;
    }
}
@media screen and (max-width: 767px) {
    .footer {
        display: grid;
        gap: 40px 24px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        padding: 5vw 0 10vw 0;
    }
    .footer__infoColumn {
        max-width: 90vw;
        grid-column: 1 / span 2;
    }
    .footer__infoText {
        font-size: 3.5vw;
        width: 80vw;
    }
    .footer__logo {
        width: 70.8vw;
        height: 19.8vw;
    }
    .footer__links {
        max-width: 46.66vw;
        height: 56vw;
    }
    .footer__linksHeader {
        font-size: 4.75vw;
        margin: 0 0 1.66vw 0;
    }
    .footer__link {
        font-size: 3.5vw;
    }
}